[project]
name = "backend-0120"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "mariadb>=1.1.14",
    "python-dotenv>=1.2.1",
]
